.welcome {
    height: 250px;
}
.home-search {
    height: 250px;
}
.search-bar{
    padding-left: 12%;
    padding-top: 10vh;
}

.admin-search-bar{
    padding-left: 33%;
    padding-top: 15vh;
}


nav, h1, h2, h3, h4 {
    font-family: 'Faster One', cursive;
    letter-spacing: 2px;
}

body, button {
    font-family: 'Contrail One', cursive;
    
}

.flash-messages h4 {
    line-height: 2;
    font-family: 'Faster One', cursive;
}

/* Styles accordion buttons */
.btn-small {
    margin: 5px;
}

/* Styles accordion titles */
.collapsible-header .col strong {
    margin: 10px;
    line-height: 35px;;
}
/* Creates a sticky footer  */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
  }

.footer {
 height: auto;
 background-color: rgba(0, 0, 0, 0.2);

}
.social {
    font-size: 30px;
    margin-top: 2%;
}
.insta {
    color: #e1306c;;
}
/* Mobile view */
@media (max-width: 500px) {
nav .brand-logo {
font-size: 1.3rem;
}
}