
nav, h1, h2, h3 {
    font-family: 'Faster One', cursive;
    letter-spacing: 2px;
}

body, button {
    font-family: 'Contrail One', cursive;
    
}

.flash-messages h4 {
    line-height: 2;
    font-family: 'Faster One', cursive;
}

/* Styles accordion buttons */
.btn-small {
    margin: 5px;
}

/* Styles accordion titles */
.collapsible-header .col strong {
    margin: 10px;
    line-height: 35px;;
}
/* Mobile view */
@media (max-width: 500px) {
nav .brand-logo {
font-size: 1.3rem;
}
}