nav, h1, h2, h3 {
    font-family: 'Faster One', cursive;
    letter-spacing: 2px;
}

body, button {
    font-family: 'Contrail One', cursive;
    
}

.flash-messages h4 {
    line-height: 2;
    font-family: 'Faster One', cursive;
}

/* Mobile view */
@media (max-width: 500px) {
nav .brand-logo {
font-size: 1.3rem;
}
}