{% extends "base.html" %}
{% block content %}

    <img src="/static/assets/images/cars-hero.jpg" class="responsive-img" alt="cars image">
    
    
    <div class="container">
    <ul class="collapsible popout">
        {% for review in reviews %}
        <li>
        <div class="collapsible-header white-text teal darken-3">
            <i class="fas fa-chevron-down"></i>
            <strong>{{ review.make }}  {{ review.model }}  {{ review.year }}</strong> 
        </div>
        <div class="collapsible-body">
            <p> Make: {{ review.make }}</p> <br>
            <p>Model: {{ review.model }}</p> <br>
            <p>Make: {{ review.year }}</p> <br>
            <p>Review: {{ review.review }}</p> <br>
            <p>Rating: {{ review.rating }} / 5</p> <br>
            <p><em>Owner: {{ review.owner }}</em></p>
        </div>
        </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

