{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Login</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel teal darken-3 z-depth-5">
                <!-- Username input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-alt prefix white-text"></i>
                        <input id="username" name="username" type="text" minlength="6" 
                        maxlength="12" pattern="^[a-zA-Z0-9]{6,12}$" class="validate" required>
                        <label for="username" class="white-text">Please enter a username - between 6 and 12 characters</label>
                    </div>
                </div>
                <!-- Password input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix white-text"></i>
                        <input id="password" name= "password" type="password" minlength="6" 
                        maxlength="12" pattern="^[a-zA-Z0-9]{6,12}$" class="validate" required>
                        <label for="password" class="white-text">Please enter a password - between 6 and 12 characters</label>
                    </div>
                </div>
                <!-- Login button -->
                <div class="row">
                    <button type="submit" class="col s4 offset-s4 btn-large grey darken-2">
                        Login <i class="fas fa-sign-in-alt prefix white-text"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Not Registered? 
                <a href="{{ url_for('register') }}" class="light-blue-text text-darken-4">Register Here</a>
            </p>
        </div>
    </div>

{% endblock %}