{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel teal z-depth-5">
                <!-- Username input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix white-text"></i>
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username" class="white-text">Username</label>
                    </div>
                </div>
                <!-- Password input -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-key prefix white-text"></i>
                        <input id="password" name= "password" type="password" class="validate">
                        <label for="password" class="white-text">Password</label>
                    </div>
                </div>
                <!-- Register button -->
                <div class="row">
                    <button type="submit" class="col s4 offset-s4 btn-large grey darken-2">
                        Register
                    </button>
                </div>
            </div>
        </form>
    </div>
  

{% endblock %}